extends layout/base

mixin client-main(name, location, roles, techs)
	li.client.client-main
		.meta
			ul
				for role in roles
					li.role= role
			ul
				for tech in techs
					li.tech= tech
		if location
			.location= location
		.name!= name
		.description
			block

mixin client-sub(name, years)
	.client.client-sub
		.name= name
		.description
			block

block body
	.container
		.resume-nav
			//- , onclick="window.history.back(); return false;"
			a(href="/") &larr; back to site
		.resume-container
			.tippy-top
				.title
					h1.michael Michael Dougherty
					h2.subheader 
						| Web Development Consultant 
						.light &mdash; Portland, OR
				.contact
					//- p http://michaeldougherty.info
					P michael@LV11.CO
					P (732) 991 6167

			h2.heading-primary Clients

			ul.list.client-list
				h3.heading-secondary 2014
				+client-main("Sterling Lentz Design & Development", "Portland, OR", roles=['Lead Developer'], techs=['Python', 'Node.js', 'Rails'])
					p Worked as the Development arm of a small design studio to bring forth various cutting-edge websites.
				+client-main("SalterMitchell", "Washington, D.C.", roles=['Lead Developer', 'Developer'], techs=['Python', 'Flask', 'Jade'])
					p Single-handedly developed a site for a genetics research startup which interfaces with a complex API. Worked tightly with a small team of in-house designers and developers as a remote contractor across the country.
				h3.heading-secondary 2013
				+client-main("University of North Carolina", "Chapel Hill, NC", roles=['Lead Designer', 'Lead Developer'], techs=['Python', 'Django', 'Sass', 'PostgreSQL'])
					p Worked closely with a UNC research team to design and develop an open-source web application for visualizing and interacting with geospatial data. Designed a public-facing site to showcase this application. Also designed a highly customized website to showcase a professor's research projects.
				+client-main("partlyhuman / This Is Pop / NBC&nbsp;Universal", "New York, NY", roles=['Developer'], techs=['PHP', 'Laravel'])
					p Worked with one other developer and a game design team to create a new online HTML5 game for NBC Universal's Character Arcade. Designed the entire backend to the game, working closely with the NBC team to connect their API to the game's frontend. Helped the NBC team white-label the game so as to produce other versions with different game assets and branding.
				+client-main("Grove", "Portland, OR", roles=['Developer'], techs=['CoffeeScript', 'HTML5 Canvas'])
					p Collaborated with the Lead Developer to create a feature-rich HTML5 tool for iPhone case customization. Also did maintenance and implemented various new features on their highy-customized Django-powered eCommerce site.
			//- ul.client-list
			//- 	+client-sub("Jivaldi", [2012])
			//- 	+client-sub("WebBrand Agency", [2012, 2013])
			//- 		| Lead Developer
			//- 	+client-sub("SalterMitchell", [2014])
			//- 		| Lead Developer
			//- 	+client-sub("Talik Creative Agency", [2010, 2011])
			//- 		| 20+ websites
			
			h2.heading-primary Employment

			ul.list.employment-list
				li
					.meta 2010 - present
					.name Web Development Consultant
						.location Portland, OR
					.description
						p Doing everything.
				li
					.meta 
						p Research Assistant
						p 2005 - 2009
					.name Pennsylvania State University
						.location State College, PA
					.description
						p Designed and coded simulations of crowd behavior in C++.
						p Used data mining and neural networks to predict strength and reliability of materials based on microphotographic cross-sections
						p Sole programmer on these and several other projects

			h2.heading-primary Education

			ul.list.education-list
				li
					.meta 2007 - 2009
					.name M.S. Computer Science
						.location Penn State University
					.description
						p Completed entire program <em>except for thesis</em>
				li
					.meta 2002 - 2006
					.name B.S. Electrical Engineering
						.location Penn State University

			//- h2.heading-primary other

			//- | Technical Development Editor - Sass In Depth by Manning Publications
	
